* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 800px;
  text-align: center;
  margin-top: -100px;
}
.weather {
  display: flex;
  font-size: 30px;
  align-self: flex-start;
}
#actual-temp {
  align-self: center;
}

.blob1 {
  width: 200px;
  height: 200px;
  background-image: url(./images/blob2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-self: flex-end;
}

.blob2 {
  width: 800px;
  height: 800px;
  background-image: url(./images/blob.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}

.joke-text {
  font-size: 16px;
  padding: 28% 12%;
}

.blob3 {
  width: 200px;
  height: 200px;
  background-image: url(./images/blob3.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-self: flex-start;
}

h1 {
  color: white;
  padding-bottom: 40px;
}
.newJoke {
  color: white;
  font-size: 18px;
  padding-bottom: 40px;
  min-height: 120px;
}

.newScore {
  color: white;
  font-size: 18px;
  padding: 0;
}

.start-button {
  border: double;
  background-color: #f2df3a;
  color: black;
  width: 150px;
  margin-top: 20px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  border-radius: 60px;
}

.transparent {
  color: rgba(0, 0, 0, 0);
}

.face {
  font-size: 35px;
  background-color: transparent;
  border-color: transparent;
}
